@model LPFactory.Data.EstructuraFaseMaterial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstructuraFaseMaterial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstructuraFase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstructuraFase.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Articulo.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
