@model LPFactory.Data.EstructuraFaseOperacion

@{
    ViewData["Title"] = "Editar";
}

<ol class="breadcrumb p-3 bg-light rounded">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Estructuras">Estructuras</a></li>
    <li class="breadcrumb-item"><a href="/EstructuraFases/Index/@Model.EstructuraFase.Estructura.Id">@Model.EstructuraFase.Estructura.Articulo.CodigoYDescripcion (@Model.EstructuraFase.Estructura.Version)</a></li>
    <li class="breadcrumb-item active">@Model.Operacion.CodigoYDescripcion</li>
</ol>



<h4>Editar operaci&oacute;n de la fase de la estructura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EmpresaId" value="@ViewBag.EmpresaId" />
            <input type="hidden" asp-for="EstructuraFaseId" value="@ViewBag.EstructuraFaseId" />

            <div class="form-group">
                <label asp-for="OperacionId" class="control-label"></label>
                <select asp-for="OperacionId" class="form-control" asp-items="ViewBag.OperacionId"></select>
                <span asp-validation-for="OperacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaquinaId" class="control-label"></label>
                <select asp-for="MaquinaId" class="form-control" asp-items="ViewBag.MaquinaId"></select>
                <span asp-validation-for="MaquinaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoPreparacion" class="control-label"></label>
                <input asp-for="TiempoPreparacion" class="form-control" />
                <span asp-validation-for="TiempoPreparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoProduccion" class="control-label"></label>
                <input asp-for="TiempoProduccion" class="form-control" />
                <span asp-validation-for="TiempoProduccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MermasTeoricas" class="control-label"></label>
                <input asp-for="MermasTeoricas" class="form-control" />
                <span asp-validation-for="MermasTeoricas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/EstructuraFases/Details/@ViewBag.EstructuraFaseId">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
